body{
    text-align: center;
}

#chrono{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: solid 2px lightgrey;
}

button{
    margin: 0 50px 0 50px;
}

table{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

#table TR TD{
    border:1px solid white;
    background: url("../images/normal.png");
    width: 16px;
    height: 16px;
    text-align: center;
}

#table TR TD.clicked {
    background: #333333;
}

#table TR TD.mine {
    background: url("../images/bomb.png");
}

.number1{
    background: url("../images/1.png");
}
.number2{
    background: url("../images/2.png");
}
.number3{
    background: url("../images/3.png");
}
.number4{
    background: url("../images/4.png");
}
.number5{
    background: url("../images/5.png");
}
.number6{
    background: url("../images/6.png");
}
.number7{
    background: url("../images/7.png");
}
.number8{
    background: url("../images/8.png");
}